<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
  <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" />
  <queries>
    <package android:name="com.google.android.apps.healthdata" />
  </queries>
  <application android:allowBackup="false"
               android:usesCleartextTraffic="false"
               android:supportsRtl="true"
               android:label="PulsePal Phone"
               android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name="org.pulsepal.phone.PermissionsRationaleActivity"
              android:exported="true">
      <intent-filter>
        <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
      </intent-filter>
    </activity>
    <activity-alias android:name="org.pulsepal.phone.ViewPermissionUsageActivity"
                    android:exported="true"
                    android:targetActivity="org.pulsepal.phone.PermissionsRationaleActivity"
                    android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
